{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:155}}
    {% else %}
        Welcome to ABC store where you can buy different items...
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{category.name}} - ABC Store
    {% else %}
        see our new collections -ABC Store
    {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
    <div>
        <div class="row my_row_class">
            <div class="mx_auto">
                <p><a href="{% url 'shop:allProdCat' %}">Our Products Collections</a> </p>

        </div>
                </div>
    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>

    <br>
<div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
<img class="my_image my_image_padding" src="{%  static 'img/banner.png' %}" alt="our products" width="1350;" height="300">
</div>
    <br>
<div>
    <h1 class="text-center my_title">Our Products Collections</h1>
    <p class="text-justify">Textiles are materials made from fibers, thin threads or filaments that are natural or synthetic or a combination of both. Textile fibers can be classified in natural (organic) fibres and man-made (synthetic, industrial) fibers, there is an enormous variety of textile fiber types available.</p>

</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4  col-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"> </a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

       <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}

        </div>
        {% endif %}
    </div>
    <br>
</div>

{% endblock %}